<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<div id="mainCharts" style="height: 600px; width: 1000px"></div>
</body>
 <script src="/echarts.min.js"></script>
<script th:inline="javascript">
    window.onload = function () {
        const mainChart = echarts.init(document.getElementById('mainCharts'))
        const option=[(${option})]
        mainChart.setOption(option);
    }
</script>
</html>
